<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
       <!-- Structural Directives-->
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>

    <div class="add-members-container">
      <input 
        #addMemberInput
        type="text" 
        placeholder="Name" 
        (input)="onInput(addMemberInput.value)" 
        [value]="newMemberName"
      > <!-- [Value] Attribute Directive [value] can be class, src, etc element-->
      <button (click)="addMember()">Add</button>
    </div>

    <div class="input-container">
      <input 
        #numberOfTeams
        type="number" 
        placeholder="# of teams"
        (input)="onTeamAmountInput(numberOfTeams.value)"
        [value]="numberOfTeams">
        
      <button (click)="GenerateTeam()">Generate</button>
    </div>
    <!-- Structural Directives with Conditional Rendering-->
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>

    <!-- <p *ngIf="teams">{{ teams }}</p> -->
    <div class="team-container">
      <div *ngFor="let team of teams; let i = index">
        <h2>Team {{ i + 1}}</h2>
        <ul class="list">
          <!-- Structural Directives-->
          <li *ngFor="let member of team">{{ member }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>